[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "alabama"]
	path = alabama
	url = https://github.com/cran/alabama
[submodule "condMVNorm"]
	path = condMVNorm
	url = https://github.com/cran/condMVNorm
[submodule "crrstep"]
	path = crrstep
	url = https://github.com/cran/crrstep
[submodule "dfoptim"]
	path = dfoptim
	url = https://github.com/cran/dfoptim
[submodule "features"]
	path = features
	url = https://github.com/cran/features
[submodule "SQUAREM"]
	path = SQUAREM
	url = https://github.com/cran/SQUAREM
[submodule "turboEM"]
	path = turboEM
	url = https://github.com/cran/turboEM
